input[type=text],input[type=password] {
	&:focus {
		border-color: rgba(180, 222, 250, 0.8);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(180, 222, 250, 0.6);
		outline: 0 none;
	}
}


$sc-select-fld-border-color: #ddd; 
$sc-select-fld-font: $sc-font-regular #ddd; 

.select-fld * {
	box-sizing: border-box;
}

.select-fld {
	
	/**
	 * Fix missing right border on FIREFOX
	 * @type {[type]}
	 */
	
	@-moz-document url-prefix() {
		border: 1px solid $sc-select-fld-border-color;
		&.custom-select select {
			border: none;
		}
	}


	&.custom-select {
		select {
			font-family: $sc-select-fld-font !important;
		}
	}


	&.extra-small {
		width: 100%;
	}
	&.small {
		width: 100%;
	}
	&.large {
		width: 100%;
	}
	&.max {
		width: 100%;
	}
	

}


.scbFramework01{
	input.dp-applied{
		font-size: .8em;
		padding-right: 0px !important;
	}
}


