/*#casa-page {
  .btn.default, span.button input {
      color: #6AC075 !important;
      background-color: #fff !important;
      min-width: 170px;
      height: 70px;
      
      &:hover {
      	color: #fff !important;
      	background-color: #6AC075 !important;
      }
  }
  
  a.description {
  	color: black;
  	font-size: 25px;
    font-family: "SC Sans Web Light";
  }
}*/