#crossing-page {
  .sc-empty {
      margin: 15px 0;
  }
  
  .sc-interested-block {
	  margin: 50px 0 10px 0;
    font-size: 20px;
	  color: #888;
	  font-family: "SC Sans Web Light";
  }
  
  .sc-cross-selling__btn {
  	  padding-left: 20px;
  }
  
  .btn.flat {
  	min-width: 180px;
  }
  
  .sc-bottom-padding-large, .sc-cross-selling__benefits__lists li {
  	font-family: "SC Sans Web Regular";
    color: #888;
  }
  
  .sc-cross-selling__benefits__title {
  	color: black;
  }
  
  .crossing-image {
  	width: 180px;
    border-radius: 50%;
    height: 180px;
  }
}