@font-face {
    font-family: 'SC Sans Light';
    src: url('Fonts/sc-sans-web-thin.eot');
    src: url('Fonts/sc-sans-web-thin.eot?#iefix') format('embedded-opentype'),
         url('Fonts/sc-sans-web-thin.woff2') format('woff2'),
         url('Fonts/sc-sans-web-thin.woff') format('woff'),
         url('Fonts/sc-sans-web-thin.ttf') format('truetype'),
         url('Fonts/sc-sans-web-thin.svg#sc-sans-web-thin') format('svg');
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
}


@font-face {
    font-family: 'SC Sans Web';
    src: url('Fonts/sc-sans-web-regular.eot');
    src: url('Fonts/sc-sans-web-regular.eot?#iefix') format('embedded-opentype'),
         url('Fonts/sc-sans-web-regular.woff2') format('woff2'),
         url('Fonts/sc-sans-web-regular.woff') format('woff'),
         url('Fonts/sc-sans-web-regular.ttf') format('truetype'),
         url('Fonts/sc-sans-web-regular.svg#sc-sans-web-regular') format('svg');
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
}


@font-face {
    font-family: 'SC Sans Web Light';
    src: url('Fonts/sc-sans-web-light.eot');
    src: url('Fonts/sc-sans-web-light.eot?#iefix') format('embedded-opentype'),
         url('Fonts/sc-sans-web-light.woff2') format('woff2'),
         url('Fonts/sc-sans-web-light.woff') format('woff'),
         url('Fonts/sc-sans-web-light.ttf') format('truetype'),
         url('Fonts/sc-sans-web-light.svg#sc-sans-web-light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}
    
@font-face {
    font-family: 'SC Sans Web Regular';
    src: url('Fonts/sc-sans-web-regular.eot');
    src: url('Fonts/sc-sans-web-regular.eot?#iefix') format('embedded-opentype'),
         url('Fonts/sc-sans-web-regular.woff2') format('woff2'),
         url('Fonts/sc-sans-web-regular.woff') format('woff'),
         url('Fonts/sc-sans-web-regular.ttf') format('truetype'),
         url('Fonts/sc-sans-web-regular.svg#sc-sans-web-regular') format('svg');
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'SC Sans Web Thin';
    src: url('Fonts/sc-sans-web-thin.eot');
    src: url('Fonts/sc-sans-web-thin.eot?#iefix') format('embedded-opentype'),
         url('Fonts/sc-sans-web-thin.woff2') format('woff2'),
         url('Fonts/sc-sans-web-thin.woff') format('woff'),
         url('Fonts/sc-sans-web-thin.ttf') format('truetype'),
         url('Fonts/sc-sans-web-thin.svg#sc-sans-web-thin') format('svg');
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
}


@font-face {
    font-family: 'SC Sans Web Ultra Thin';
    src: url('Fonts/sc-sans-web-ultra-thin.eot');
    src: url('Fonts/sc-sans-web-ultra-thin.eot?#iefix') format('embedded-opentype'),
         url('Fonts/sc-sans-web-ultra-thin.woff2') format('woff2'),
         url('Fonts/sc-sans-web-ultra-thin.woff') format('woff'),
         url('Fonts/sc-sans-web-ultra-thin.ttf') format('truetype'),
         url('Fonts/sc-sans-web-ultra-thin.svg#sc-sans-web-ultra-thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
}